.idea
.php_cs
.php_cs.cache
build
coverage
docs
node_modules
npm-debug.log
yarn-error.log
psalm.xml
vendor
app/storage/
bootstrap/compiled.php
public/storage
public/hot
public_html/storage
public_html/hot
storage/*.key
.env
.phpunit.result.cache
